<a {{bind-attr href=email}} class="email" target="_blank"></a>
<a {{bind-attr href=facebook}} class="facebook" target="_blank"></a>
<a {{bind-attr href=twitter}} class="twitter" target="_blank"></a>
<a {{bind-attr href=linkedin}} class="linkedin" target="_blank"></a>
<a {{bind-attr href=plus}} class="plus" target="_blank"></a>
