{{view ESF.LogoView}}

<table class="user-info table">
  <tr>
    <td>{{t "user.username"}}</td>
    <td>{{username}}</td>
  </tr>

  <tr>
    <td>{{t "user.password"}}</td>
    <td>********</td>
  </td>

  <tr>
    <td>{{t "user.mail"}}</td>
    <td>{{mail}}</td>
  </tr>

  <tr>
    <td>{{t "user.phone"}}</td>
    <td>{{phone}}</td>
  </tr>

  <tr>
    <td>{{t "user.url"}}</td>
    <td>{{url}}</td>
  </tr>

  <tr>
    <td>{{t "user.facebook"}}</td>
    <td>{{facebook}}</td>
  </tr>

  <tr>
    <td>{{t "user.twitter"}}</td>
    <td>{{twitter}}</td>
  </tr>
</table>
