<form>
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label class="required">{{t "user.username"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" disabled=isPersisted type="text" value=username}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label class="required">{{t "user.mail"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" type="text" value=mail}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label class="required">{{t "user.name"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" type="text" value=name}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label>{{t "user.phone"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" type="text" value=phone}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label>{{t "user.url"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" type="text" value=url}}
        </div>
      </div>
    </div>

    <div class="small-12 large-6 columns">
      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label>{{t "user.facebook"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          {{input class="form-text" type="text" value=facebook}}
        </div>

        <div class="small-2 large-1 columns">
          {{help-tooltip textTranslation="user.facebook.help"}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label>{{t "user.twitter"}}</label>
        </div>

        <div class="small-10 large-6 columns">
          <span class="add-on">@</span>
          {{input class="form-text" type="text" value=twitter}}
        </div>

        <div class="small-2 large-1 columns">
          {{help-tooltip textTranslation="user.twitter.help"}}
        </div>
      </div>

      <div class="form-group row">
        <div class="small-12 large-5 columns form-label">
          <label>{{t "user.picture"}}</label>
        </div>

        <div class="small-12 large-7 columns">
          {{#with picture}}
            <div class="user-logo-preview">
              <img {{bind-attr src=logo}} />
            </div>

            <div class="actions picture-actions">
              <button class="form-button red" {{action "deletePicture" this}}>{{t "user.picture.remove"}}</button>
            </div>
          {{/with}}

          {{picture-upload destination=picture}}
        </div>
      </div>
    </div>
  </div>
</form>
