<div class="row">
  <div class="small-12 columns">
    <div class="user-box">
      <div class="instructions">
        {{t "user.password.instructions"}}
      </div>

      <form class="form" {{action "save" on="submit"}}>
        {{input class="form-text" placeholderTranslation="user.password.password" type="password" value=password}}
        {{input class="form-text" placeholderTranslation="user.password.confirm" type="password" value=confirm}}
        <button {{bind-attr disabled=incomplete}} class="form-button blue" type="submit">{{t "user.save"}}</button>
        <a {{action "cancel"}} class="form-button gray">{{t "user.cancel"}}</a>

        {{#if error}}
          <div class="error">{{t "user.login.invalid"}}</div>
        {{/if}}
      </form>
    </div>
  </div>
</div>
